*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14pt;
}

body{
   
    width: 100%;
    min-height: 100vh;
    background: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(81,91,212),rgb(129,52,175,0.85),rgb(221,42,123,0.85));
}

.instagram-wrapper , .instagram-telefone {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
   
}

.instagram-telefone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-telefone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;   
}

.grupo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fbfbfb;
    width: 100%;
    padding: 1.5rem, 0;
    border: black;
    border-radius: 5%;
}

.grupo2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fbfbfb;
    width: 100%;
    padding: 1.5rem, 0;
    border: black;
    border-radius: 2%;
}

.grupo:nth-child(1){
    min-height: 19rem;
}

.foto-de-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.foto-de-perfil img{
    height: 6rem;
}

.instagram-login{
    background-color: cornflowerblue;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    border-color:cornflowerblue;
    cursor: pointer;
    transition: .3s ease all
}

.instagram-login:hover{
    color: black;
    border: none;
}

.instagram-logout{
    background-color: dodgerblue;
    color: #fff;
    border-radius: 5px;
    border-color:dodgerblue ;
    margin-top: 1rem;
    height: 40px;
    width: 200px;
    cursor: pointer;
    transition: .3s ease all
}

.instagram-logout:hover{
    color: black;
    border: none;
}

.not-accout{
    color: rgb(160,160,160);
}

.link-azul{
    color: cornflowerblue;
}

.link-azul:hover{
    color: black;
}

.get-the-app{
    display: contents;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem, 0;
}

.dowload{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-dowload{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-dowload :nth-child(1){
    background-image: url(./img/apple-button.png);
}

.app-dowload :nth-child(2){
    background-image: url(./img/googleplay-button.png);
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-telefone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .groupo {
        border: 1px solid transparent;
    }
}